# day 1

In [1]:
a=10 #this is used to show 
a

10

In [2]:
print(a) #this is used to print in display

10

### comments  in python
### single line comment ---> ( #)
### multiline comment ---> ("""     """)

In [3]:
#this is my first lecture in pwskills 
""" this is 
  my first 
  lecture 
  in pwskills"""

' this is \n  my first \n  lecture \n  in pwskills'

In [5]:
print("this is my first lecture in pwskills. \n This course is paid.") #\n used for new line

this is my first lecture in pwskills.
 This course is paid.

In [6]:
1+4

5

In [7]:
print(1+4) #this is used to print in display

5

# variable assignments

In [9]:
name= 'shivank pandey' # string 
roll_no = 23 # integer 
marks = 45.6 # float
#type is used to show the type of a variable
a=type(name)
print(a)
b=type(roll_no)
print(b)
c=type(marks)
print(c)

<class 'str'>
<class 'int'>
<class 'float'>

# dynamic typing

In [10]:
name = 'shivank pandey'
name = 'santprakash'

In [11]:
print(name)

santprakash

# data type

In [12]:
"""
1.integer 
2.float
3.string
4.boolen
etc

"""

'\n1.integer \n2.float\n3.string\n4.boolen\netc\n\n'

# Type conversion

In [13]:
a=123.45
b=234
int(a)

123

In [14]:
float(b)

234.0

# print statements

In [15]:
print() # it is used to print and display something.
#i.e --> 
print("Hello world")

Hello world

# input function

In [17]:
a=input()
#it is return string 

print(a)
type(a)

12
12

str

# f string

In [18]:
name='shivank pandey'
age=21
print(f"my name is {name} and my age is {age}")

my name is shivank pandey and my age is 21

# format

In [21]:
name='shivank pandey'
age=21
print("my name is {} and my age is {} ".format(name,age))

my name is shivank pandey and my age is 21