# loop

control statement
   1. **if**
   2. **if else** 
   3. **if elif else**
   4. **Nested if**
   5. **Single Statement Suites**

In [9]:
# if statement:- it is used to give condition 
age = int(input("Enter your age "))
if age<=18 and age>=0:
    print(f" you age is {age} and you are not adult")

Enter your age 23
 you age is 23

In [10]:
# if-else statement:- if the condition is true then excuite if block other wise jum into the else block 
age = int(input("Enter your age "))
if age<=18 and age>=0:
    print(f" you age is {age} and you are not adult")
else:
     print(f" you age is {age} and you  not adult")

Enter your age 34
 you age is 34 and you  not adult

In [13]:
# if-else statement:- if the condition is true then excuite if block other wise jum into the else block 
age = int(input("Enter your age "))
if age<=18 and age>=0:
    print(f" you age is {age} and you are not adult")
else:
     print(f" you age is {age} and you are not adult")

Enter your age 23
 you age is 23 and you are not adult

In [2]:
#if elif else :-it is used to give more then one condition if any condition is true then jump out of the loop 
age = int(input("Enter your age "))
if age>=0 and age<=11:
    print(f" you age is {age} and you are a child")
    
elif age<=17 and age>=12:
    print(f" you age is {age} and you are teen ager")
elif age >=18 and age <=35:
     print(f" you age is {age} and you are fit")
else:
    print(f" you age is {age} and you are not fit")

Enter your age 23
 you age is 23 and you are fit

In [8]:
#if elif else :-it is used to give more then one condition if any condition is true then jump out of the loop 
age = int(input("Enter your age "))
if age>=0 and age<=11:
    print(f" you age is {age} and you are a child")
    
elif age<=17 and age>=12:
    print(f" you age is {age} and you are teen ager")
elif age >=18 and age <=35:
     print(f" you age is {age} and you are fit")
else:
    print(f" you age is {age} and you are not fit")

Enter your age 12
 you age is 12 and you are teen ager

In [12]:
#Nested if :- it is used in the if statement to give more condition in the block
age = int(input("Enter your age "))
if age<=18 and age>=0:
    print(f" you age is {age} and you are not adult")
    if age==12:
       print(f" you age is {age} and your teen age is start")
    
        
else:
     print(f" you age is {age} and you  not adult")

Enter your age 23
 you age is 23 and you  not adult

## Question 1

#### Take a input of age
#### check whether age >=18 and age<=45
#### display a message you are young blood

In [9]:
age = int(input("Enter your age "))
if age<=45 and age>=18:
    print(f" you age is {age}.you are young blood ")

Enter your age 34
 you age is 34.you are young blood

In [11]:
age = int(input("Enter your age "))
if age<=45 and age>=18:
    print(f" you age is {age}.you are young blood ")
else:
    print(f" you age is {age}.you are not a young blood ")

Enter your age 12
 you age is 12.you are not a young blood

## Question 2
#### mall - input the product price
#### product >1000 rs 20% off
#### print the product price after removing the discount
#### product <=1000 rs 30% off
#### print the product price after removing the discount

In [1]:
price_of_product = int(input("Enter product price  "))
if price_of_product>1000:
    Total_price=price_of_product-price_of_product*0.20
    print(f"total price you pay {Total_price}")
elif price_of_product<=1000:
    Total_price=price_of_product-price_of_product*0.30
    print(f"total price you pay {Total_price}")

Enter product price  1000
total price you pay 700.0

In [2]:
price_of_product = int(input("Enter product price  "))
if price_of_product>1000:
    Total_price=price_of_product-price_of_product*0.20
    print(f"total price you pay {Total_price}")
elif price_of_product<=1000:
    Total_price=price_of_product-price_of_product*0.30
    print(f"total price you pay {Total_price}")

Enter product price  2000
total price you pay 1600.0

## Quesstion 3

#### mall - input the product price
#### product >3000 rs 20% off
#### price is ==4000 you get a trip to Goa
#### print the product price after removing the discount
#### product >=2000 rs and <=3000 30% off
#### print the product price after removing the discount
#### price ==2999  u will get adiitional gift
#### product 100 rs and <=2000 40% off
#### print the product price after removing the discount

In [9]:
price_of_product = int(input("Enter product price  "))
if price_of_product>3000:
    Total_price=price_of_product-price_of_product*0.20
    print(f"total price you pay {Total_price}")
    if price_of_product==4000:
        print(f"you get a trip to Goa")
elif price_of_product >=2000 and price_of_product<=3000:
    Total_price=price_of_product-price_of_product*0.30
    print(f"total price you pay {Total_price}")
    if Total_price==2999:
        print(f"you will get adiitional gift ")
elif price_of_product >=100 and price_of_product<=2000:
    Total_price=price_of_product-price_of_product*0.40
    print(f"total price you pay {Total_price}")

Enter product price  4000
total price you pay 3200.0
you get a trip to Goa

In [10]:
price_of_product = int(input("Enter product price  "))
if price_of_product>3000:
    Total_price=price_of_product-price_of_product*0.20
    print(f"total price you pay {Total_price}")
    if price_of_product==4000:
        print(f"you get a trip to Goa")
elif price_of_product >=2000 and price_of_product<=3000:
    Total_price=price_of_product-price_of_product*0.30
    print(f"total price you pay {Total_price}")
    if Total_price==2999:
        print(f"you will get adiitional gift ")
elif price_of_product >=100 and price_of_product<=2000:
    Total_price=price_of_product-price_of_product*0.40
    print(f"total price you pay {Total_price}")

Enter product price  2999
total price you pay 2099.3

In [11]:
price_of_product = int(input("Enter product price  "))
if price_of_product>3000:
    Total_price=price_of_product-price_of_product*0.20
    print(f"total price you pay {Total_price}")
    if price_of_product==4000:
        print(f"you get a trip to Goa")
elif price_of_product >=2000 and price_of_product<=3000:
    Total_price=price_of_product-price_of_product*0.30
    print(f"total price you pay {Total_price}")
    if Total_price==2999:
        print(f"you will get adiitional gift ")
elif price_of_product >=100 and price_of_product<=2000:
    Total_price=price_of_product-price_of_product*0.40
    print(f"total price you pay {Total_price}")

Enter product price  2000
total price you pay 1400.0

## Loops statements
1. while loop
2. for loop
3. nested loops
4. Loop control(break,continue,pass)

In [14]:
#while -else loop
age = int(input("Enter your joining  age "))
while (age<=65):
    print(age)
    age=age+1
    
else:
    print("Its time to retirment")

Enter your joining  age 25
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
Its time to retirment

In [16]:
#while -else loop
total_price= int(input("Enter your joining  age ")) #withdraw money in atm
while (total_price!=0):
    print(total_price)
    total_price=total_price-100
else:
    print("Your wallet is 0 plese add more mony on the bank")

Enter your joining  age 1000
1000
900
800
700
600
500
400
300
200
100
Your wallet is 0

## For Loop

In [21]:
lst=[1,2,3,4,5,6,7]
lst

[1, 2, 3, 4, 5, 6, 7]

In [22]:
type(lst)

list

In [23]:
list[0]

1

In [24]:
lst[1]

2

In [25]:
for x in lst:
    print(x)

1
2
3
4
5
6
7

In [26]:
fruits='mango'
fruits[0]

'm'

In [27]:
fruits[1]

'a'

In [28]:
fruits[2]

'n'

In [29]:
for y in fruits:
    print(y)

m
a
n
g
o

In [33]:
for y in fruits:
    print(y)

m
a
n
g
o

In [36]:
num = int(input("Enter the number "))
for n in range(0,num,2):
    print(n)

Enter the number 45
0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44

In [42]:
#nested loops :- inside for loop is more loop 
num = int(input("Enter the number of row  "))
for n in range(0,num,):
    for y in range(0,n+1):
        print("*" , end="")
    print("\r")

Enter the number of row  66
*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
*****************
******************
*******************
********************
*********************
**********************
***********************
************************
*************************
**************************
***************************
****************************
*****************************
******************************
*******************************
********************************
*********************************
**********************************
***********************************
************************************
*************************************
**************************************
***************************************
****************************************
*****************************************
******************************************
*******************************************
********************************************
*********************************************
**********************************************
***********************************************
************************************************
*************************************************
**************************************************
***************************************************
****************************************************
*****************************************************
******************************************************
*******************************************************
********************************************************
*********************************************************
**********************************************************
***********************************************************
************************************************************
*************************************************************
**************************************************************
***************************************************************
****************************************************************
*****************************************************************
******************************************************************